# Layout configuration for conda environments.
# Specify environment name with `layout conda <envname>`
# or
# Detect name from environment.yml with `layout conda`

layout_conda() {
  if [ -n "$1" ]; then
    source activate $1;
  elif (grep -q name: environment.yml); then
    source activate `grep name: environment.yml | sed -e 's/name: //'`
  else
    (>&2 echo No environment specified);
    exit 1;
  fi;
}

layout conda
