[flake8]
exclude=tmol/extern,.conda

# Black-compatible config from
# https://github.com/ambv/black/blob/master/.flake8
# http://pep8.readthedocs.io/en/latest/intro.html#error-codes
# E203 - operator whitespace, error in pycodestyle
#        https://github.com/PyCQA/pycodestyle/issues/373
# E266 - Comment leading '###'
# E501 - line length, handled by B950
# E503 - Break before binary operator
# E711 - != None is a vectorized check against None
# E741 - Ambiguous variable names
# B902 - Invalid "self" first argument
# B009 - getattr warning
# B010 - setattr warning

ignore = E203, E266, E501, E711, E741, W503, B902, B009, B010

max-line-length = 80
max-complexity = 18
select = B,C,E,F,W,T4,B9
