repos:
  - repo: https://github.com/ambv/black
    rev: 18.6b4
    hooks:
      - id: black
        language_version: python3.6
        # override until resolved: https://github.com/ambv/black/issues/402
        files: \.pyi?$
        exclude: >
            (?x)^(
                tmol/extern/.* |
                dev/.* 
            )$

  - repo: git://github.com/doublify/pre-commit-clang-format
    sha: master
    hooks:
    -   id: clang-format
