astor
attrs_strict
cattrs
decorator
frozendict
hypothesis
ipython
pandas
pint
pyyaml
requests
scipy
sparse<=0.3.1
toolz
typing_extensions
typing_inspect
typish
zarr
#numpy # NOTE we get numpy from conda to ensure compat with numba
