numpy>=1.10
biopython>=1.68
numba>=0.36
pandas>=0.18
requests>=2.0
scipy>=0.18
toolz>=0.9.0
properties>=0.4.0
attrs>=17
torch==0.4.0a0+1936753
https://storage.googleapis.com/protein-design-ipd-public/wheelhouse/torch-0.4.0a0%2B1936753-cp35-cp35m-linux_x86_64.whl
