#numpy # NOTE we get numpy from conda to ensure compat with numba
astor
attrs != 22.2.0 # problem unpickling tmol/tests/data/rosetta_baseline/1ubq.scores.pickle in 22.2.0 (see https://github.com/python-attrs/attrs/pull/1085)
attrs_strict
cattrs
decorator
frozendict
hypothesis
ipython
pandas
pint
pyyaml
requests
scipy
sparse<=0.3.1
toolz
typing_extensions
typing_inspect
typish
zarr
