version: 2
jobs:
  build:
    docker:
      - image: continuumio/miniconda3
    environment:
      # Core count for medium machine type.
      OMP_NUM_THREADS: 2
      MKL_NUM_THREADS: 2
      NUMBA_NUM_THREADS: 2
      NUM_THREADS: 2
    working_directory: ~/workspace
    steps:
      - checkout
      - run:
          name: Render environments
          command: |
            environments/render

      - restore_cache:
          keys:
            - v1-conda-{{ checksum "environment.cpu.test.yml" }}
      - run:
          name: Install dependencies
          command: |
            # Update conda to work out package issues in docker
            # https://github.com/conda/conda/issues/6811
            conda install -n base 'conda>=4.5'
            conda info -a
            conda config --set always_yes yes --set changeps1 no
            conda env update -n tmol -f environment.cpu.test.yml
            source activate tmol

            conda clean -tipsy
      - save_cache:
          paths:
            - /opt/conda/pkgs
            - ~/.conda/pkgs
          key: v1-conda-{{ checksum "environment.cpu.test.yml" }}
          background: true

      - run:
          name: Log configuration
          command: |
            source activate tmol
            mkdir -p report
            mkdir -p report/test
            mkdir -p report/linting
            conda info -a | tee report/conda.info.log
            conda list | tee report/conda.list.log

      - run:
          name: Setup module
          command: |
            source activate tmol
            pip install -e .

      - run:
          name: Run tests
          command: |
            source activate tmol

            failed=0

            # Run non-linting tests in a single process, relying on internal multithreading
            (pytest -v -k 'not linting' --cov=./tmol --junitxml=report/test/test.xml 2>&1 | tee report/test.log) || failed=1

            # Run linting tests in multiple processes to speed up execution
            (pytest -n ${NUM_THREADS} -k 'linting' 2>&1 --junitxml=report/linting/linting.xml | tee report/linting.log) || failed=1

            .circleci/fixup_test_report.py report/test/test.xml report/linting/linting.xml

            exit $failed

      - store_test_results:
          path: report

      - store_artifacts:
          path: report
          destination: report
