sphinx>=8.0,<9
pydata-sphinx-theme>=0.16,<1
myst-parser>=4.0,<5
nbsphinx>=0.9,<1
sphinx-gallery>=0.19,<1
matplotlib>=3.8,<4
sphinx-autodoc-typehints>=2.0,<4
pypandoc-binary>=1.15,<2
linkify-it-py>=2.0,<3
cattrs>=22.0
ipython>=8.0
py3Dmol>=2.4,<3
