sphinx>=8.0,<9
pydata-sphinx-theme>=0.16,<1
myst-parser>=4.0,<5
nbsphinx>=0.9,<1
sphinx-togglebutton>=0.3,<1
sphinx-gallery>=0.19,<1
matplotlib>=3.8,<4
sphinx-autodoc-typehints>=2.0,<4
pypandoc-binary>=1.15,<2
linkify-it-py>=2.0,<3
cattrs>=22.0
ipython>=8.0
py3Dmol>=2.4,<3
itables>=2.0
nbclient>=0.10,<1
nbformat>=5.10,<6
ipykernel>=6.29,<7
openbabel-wheel==3.1.1.22
